body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #0e0e0e;
    color: white;
    overflow-x: hidden;
}

/* Glow animation */
@keyframes glowPulse {
    0% { text-shadow: 0 0 10px #c28cff, 0 0 20px #c28cff; }
}

/* Top Panel */
.panel {
    background-color: rgba(31, 31, 31, 0.4);
    padding: 10px 20px;
    border-radius: 25px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 430px;
    height: 45px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    z-index: 10;
}

.panel-btn {
    background-color: rgb(31, 31, 31);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    animation: glowPulse 100000s ease-in-out infinite;
}

.panel-btn:hover {
    text-shadow: 0 0 10px #c28cff, 0 0 20px #c28cff, 0 0 40px #c28cff;
    transform: scale(1.07);
}

/* Iframe container under navbar */
.iframe-container {
    position: absolute;
    top: 100px; /* moves it below navbar */
    left: 0;
    width: 100%;
    height: calc(100% - 100px); /* fills the rest of the page */
    display: flex;
    justify-content: center;
    align-items: center;
}

.iframe-container iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0;
}
